<div class="row" @ngIfFade>
  <div class=" col s12">
    <table *ngIf="usuarios.length > 0; else nenhumResultado" class="animate highlight white responsive-table "  >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Login</th>
          <th>idade</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td >{{user.nome}}</td>
          <td>{{user.login}}</td>
          <td>{{user.idade}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #nenhumResultado>
      <h3>Nenhum usuario encontrado!</h3>
    </ng-template>
  </div>
</div>