<div class="row" @ngIfFade>
    <div class="col s12">
        <m-table isDelete="true"
            [(data)]="dataTable" 
            (onClick)="selected($event)"
            (loadTable)=setPagination($event)
            addClass="bordered highlight">
            <m-head-table label="CNPJ" field="cnpj" sort="true" width="40%"></m-head-table>
            <m-head-table label="Nome Fantasia" field="nomeFantasia" sort="true" width="60%"></m-head-table>
        </m-table>
        <div class="fixed-action-btn">
            <button [routerLink]="['/cad-organizacao', '']" class="indigo hoverable btn-floating  waves-effect waves-light btn-large"
                float="true">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</div>

<m-menu-right [(isShow)]="showFiltro" (close)="close($event)"  [title]="textBtnPesq">
        <mz-input-container>
            <input mz-input maxlength="18" (keyup.enter)="listarFiltros()"
                label="{{'CNPJ' | translate}}"
                type="email"
                length="18"
                [(ngModel)]="fieldsSearch.cnpj">
            </mz-input-container>
        <mz-input-container>
            <input mz-input maxlength="100" (keyup.enter)="listarFiltros()"
            label="{{'NOME_FANTASIA' | translate}}"
            type="email"
            length="100"
            [(ngModel)]="fieldsSearch.nomeFantasia">
        </mz-input-container>
        <div class="s12 right-align">
            <br>
            <button class="hoverable btn waves-effect indigo-text transparent" (click)="limparFiltro()">{{"LIMPAR" | translate}}</button>
            <button class="indigo" mz-button (click)="listarFiltros()">{{textBtnPesq}}</button>
        </div>

</m-menu-right>