<div @ngIfFade class="center-align card">
  <div *ngIf="data || list; else nenhumResultado" >
    <table  class="animate white {{addClass}}"  >
      <thead>
        <tr>
          <th *ngFor="let head of heads" (click)="setSort(head)" 
            class="{{head.addClass}}" [style.width]="head.width"
              [ngClass]="{'th-mouse-hover': head.sort, 'active-th': data.fieldSort == head.field}"  >
            <div class="th-table">
              {{head.label}}
              <i *ngIf="data.sort == 'asc' && data.fieldSort == head.field" class="material-icons" @ngIfFade>arrow_upward</i>
              <i *ngIf="data.sort == 'desc' && data.fieldSort == head.field" class="material-icons" @ngIfFade>arrow_downward</i>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list || data.list" class="th-mouse-hover"  @ngIfFade
          (click)="clickRow(item)"  [ngClass]="{'tr-selected': item['selected']}" >
          <td *ngFor="let head of heads">
            <span>
              {{item[head.field]}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="data" class="table-footer right-align">
      <div class="right-align">Linhas por página</div>
        <div>
          <mz-select-container>
            <select mz-select (change)="setLimit($event.target)">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </mz-select-container>

        </div>
        <div>-</div>
        <div>
          {{data.rangeStart}} / {{data.rangeEnd}} 
        </div>
        <div>
            de
        </div>
        <div>
            {{data.totalRows}}

        </div>
        <div>
          <button [disabled]="!data.totalRows || data.totalRows <= 0" (click)="reload()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">refresh</i>
          </button>
        </div>
        <div>
          <button [disabled]="!data.page || data.page <= 1" (click)="pageBack()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">keyboard_arrow_left</i>
          </button>
        </div>
        <div>
          <button [disabled]="!data.totalPages || data.page >= data.totalPages" (click)="pageNext()"
            class="hoverable white btn waves-effect btn-floating">
            <i class="material-icons black-text">keyboard_arrow_right</i>
          </button>
        </div>
    </div>
  </div>
  <ng-template #nenhumResultado>
        <div class="sem-resultado">
            <h5>{{"SEM_REGISTROS" | translate}}</h5>
        </div>
  </ng-template>
</div>