th, td{
    padding: 1rem 1rem;
}
.table-footer{
    padding:  1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table-footer > div{
    margin-left: 1rem;
    height: 1.6em;
    display: flex;
}

.table-footer > div:nth-child(2){
    margin-top: 0.1em;
}

.sem-resultado{
    padding: 1rem;
}

.select-limit .select-wrapper{
    width: 2.8rem;    
}

table th, table td{
    color: rgba(#9e9e9e, 1);
}

table tr:hover td{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(#e3f2fd, 1);
}
table tr th:hover,table tr th.active-th{
    color: rgba(0, 0, 0, 1);
}
table tr th .material-icons{
    font-size: 1.3rem;
    margin-left: 0.2rem;

}
table tr th:hover .material-icons{
    color: rgba(#9e9e9e, 1);
}

table .th-table{
    display: flex;
    align-items: center;
}

.th-mouse-hover{
    cursor: pointer;
}

.tr-selected td{
    color: white;
    background-color: rgba(#2196f3, 1) !important;
}

.tr-selected:hover td{
    color: white !important;
    background-color: rgba(#2196f3, 0.8) !important;
}