<span class="padding-modal">
  <mz-modal>
    <mz-modal-header>
     {{statictitle}}
    </mz-modal-header>
    <mz-modal-content>
      {{staticMessage}}
    </mz-modal-content>
    <mz-modal-footer>
      <button class="hoverable btn waves-effect indigo" #btnOk mz-modal-close>OK</button>
    </mz-modal-footer>
  </mz-modal>
</span>