<span class="modal-loading">
  <mz-modal [options]="modalOptions">
    <mz-modal-content>
      <span class="message-loading white indigo-text center-align animate" @ngIfFade>
          <div class="col s12 center-align">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <label class="indigo-text animate" *ngIf="showMessage">
            {{staticMessage}}
          </label>
      </span>
    </mz-modal-content>
  </mz-modal>
</span>