.modal-loading .modal-footer{
    display: none;
}
.modal-loading .modal{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.message-loading{
    display: inline-flex;
    padding: 1em;
    align-items: center;
    align-content: center;
}
.message-loading label{
    font-size: 1.4rem;
    margin-left: 1.2rem;
    font-weight: 400;
}