<span class="padding-modal">
  <mz-modal>
    <mz-modal-header>
     {{statictitle}}
    </mz-modal-header>
    <mz-modal-content>
      {{staticMessage}}
    </mz-modal-content>
    <mz-modal-footer>
      <button class="hoverable btn waves-effect indigo-text white" (click)="getCancel()" mz-modal-close>{{labelCancel}}</button>
      <button #btnOk class="hoverable btn waves-effect waves-light indigo" (click)="getOk()"  mz-modal-close>OK</button>
    </mz-modal-footer>
  </mz-modal>
</span>