.back-login{
    padding-top: 1.5rem;
    background-color: rgba(255, 255, 255, 1) !important;
}

.logo-login img{
    max-height: 2.8em;
}

.container-dados{
    display: block;
}
.container-login{
    overflow: hidden;
}
.btn-float-voltar{
    position: absolute;
    
}