<!-- Barra de Ferramentas -->
<div class="navbar-fixed" #navBar  *ngIf="isLogged" @ngIfFade>
    <nav class="indigo z-depth-2">
      <div class="nav-wrapper">
          <ul class="left" >
            <li *ngIf="isLogged && isRoot" @ngIfSlide class="btn-menu-principal animate"  >
              <a [hidden]="isRoot" href="#!"  id="btn-sidenav-menu-left" class="waves-effect">
                <i class="material-icons animate" flat="true" >menu</i>
              </a>
            </li>
            <li *ngIf="!isRoot" @ngIfSlide class="btn-menu-principal animate" (click)="backPage()" >
              <a *ngIf="!isRoot" class="waves-effect">
                <i class="material-icons animate" flat="true" mz-button >arrow_back</i>
              </a>
            </li>
            <li  class="logotipo">
              <img  alt="" class="responsive-img" routerLink="/home" [routerLink]="['/home']"
              src="assets/images/logomarcawhite.png" mz-tooltip position="right" tooltip="Home"> <!-- notice the "circle" class -->
            </li>
          </ul>
          <div href="#!" class="brand-logo">
           {{tittle}}
          </div>
          <ul *ngIf="isLogged" class="right"  >
            <!-- Listando as ações  -->

            
          <li *ngFor="let action of actions" (click)="clickAction(action.action)" @ngIfFade
            class="waves-effect waves-light" mz-tooltip mz-button [id]="action.id"
            [tooltip]="action.tooltip"
            [position]="'left'">
            <a><i class="material-icons">{{action.icon}}</i></a>
          </li>
          
          <li *ngFor="let action of actionsFixed" (click)="clickAction(action.action)" @ngIfFade
          class="waves-effect waves-light" mz-tooltip mz-button [id]="action.id"
          [tooltip]="action.tooltip"
          [position]="'left'">
            <a><i class="material-icons">{{action.icon}}</i></a>
          </li>

            <li class="waves-effect waves-light" mz-tooltip
            [tooltip]="userLogged?.nome"
            [position]="'left'">
              <a><i class="material-icons">account_circle</i></a>
            </li>
            <li class="waves-effect waves-light"
              mz-tooltip [tooltip]="textSair" [position]="'left'">
              <a (click)="logout()"><i class="material-icons">exit_to_app</i></a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
<!-- Slide Lateral com os menus -->
<mz-sidenav *ngIf="isLogged && isRoot" [id]="'sidenav-menu-left'" [collapseButtonId]="'btn-sidenav-menu-left'">
  <h4>Teste</h4>
</mz-sidenav>
<router-outlet (activate)='paginaAtiva($event)'></router-outlet>
