.logotipo{
  margin: 0.6rem 1.5rem 0rem 1rem;
}

.logotipo img {
  max-height: 1.8rem;
}

.btn-menu-principal:hover{
  background-color: rgba(255, 255, 255, 1);
}
.btn-menu-principal .material-icons{
  font-size: 1.8rem;
}
.btn-menu-principal:hover .material-icons{
  color: rgba(0, 0, 0, 1);
}

.s12{
  margin: 0.3em;
}

nav .brand-logo {
  font-size: 1.4em;
  font-weight: 500;
  left: 10.5em;
  transform: none;
}

.route-container {
  position:relative;
}
.route-container>* {
  display:block;
}

.side-right-container #sidenav-overla{
  background-color: red;
}