<div *ngIf="isShow" class="side-slide-container  " @ngIfSlideOutRight
    [style.width]= "width" [class.menu-right-full]="full">
  <div class="side-slide-move {{animateMove}}" @ngIfSlideInRight>
    <div class="side-slide-title left-align indigo-text animate">
      <button  (click)="closeClick()"
        class="hoverable white btn waves-effect btn-floating">
        <i class="material-icons indigo-text">close</i>
      </button>
        {{title}}
    </div>
    <div class="side-slide-body" >
      <div class="row">
        <div class="col s12">
          <ng-content></ng-content>

        </div>
      </div>
    </div>
  </div>
</div>