@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

// ------------------------Mixins
/* ------------------------------------------- Animações */
$sleep-fast: 300ms;
$sleep: 500ms;
$sleep-slow: 1s;
$sleep-more-slow: 1.5s;
$sleep-very-slow: 2.5s;

@mixin animate($time){
    -webkit-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
 }
 
 @mixin set-scale($scale){
     -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
     -ms-transform: scale($scale);
      -o-transform: scale($scale);
         transform: scale($scale);
 }
 
 @mixin set-rotate($rotate){
     -webkit-transform: rotate($rotate);
     -moz-transform: rotate($rotate);
     -ms-transform: rotate($rotate);
     -o-transform: rotate($rotate);
     transform: rotate($rotate);
 }
 
 
 .animate-fast{@include animate($sleep-fast)} .animate{@include animate($sleep)} .animate-slow{@include animate($sleep-slow)}
 .animate-more-slow{@include animate($sleep-more-slow)} .animate-very-slow{@include animate($sleep-very-slow)}
 
 
 .animate-zoom-in{
     @include set-scale(1);	
     animation: animate-zoom-in 0.5s  ease 1;
     -webkit-animation: animate-zoom-in 0.5s  ease 1;
     
 } 
 .animate-zoom-out{
     animation: animate-zoom-out 0.5s  ease;
     -webkit-animation: animate-zoom-out 0.5s  ease;
 } 
 .animate-zoom{
     @include set-scale(0);	
 }
 
 @keyframes animate-zoom-in{
     0%{
         @include set-scale(0);
     }
     70%{
         @include set-scale(1.2);	
     }
 
     100%{
         @include set-scale(1);	
     }
 }
 @keyframes animate-zoom-out{
     0%{
         @include set-scale(1);
     }
     30%{
         @include set-scale(1.2);	
     }
 
     100%{
         @include set-scale(0);	
     }
 }
 /* ------------------------------------------- Sombras */
 /* -------- Bottom */
 @mixin shadow-bottom(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 @mixin shadow-bottom-hover(){
     box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 @mixin shadow-bottom-focus(){
     box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
     -moz-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
     -webkit-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
 }
 
 @mixin shadow-bottom-float(){
     box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
     -moz-box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
     -webkit-box-shadow:  0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
 }
 
 @mixin shadow-bottom-float-hover(){
     box-shadow: 0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
     -moz-box-shadow:  0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
     -webkit-box-shadow:  0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
 }
 
 /* -------- Top */
 @mixin shadow-top(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-top-hover(){
     box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 /* -------- Left */
 @mixin shadow-left(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-left-hover(){
     box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 /* -------- right */
 @mixin shadow-right(){
     box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
     -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
 }
 
 @mixin shadow-right-hover(){
     box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -moz-box-shadow:  0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
     -webkit-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
 }
 
 .shadow-bottom{
     @include shadow-bottom();
 }
 .shadow-bottom-hover{
     @include shadow-bottom-hover();
 }
 .shadow-bottom-focus{
     @include shadow-bottom-focus();
 }
 .shadow-top{
     @include shadow-top();
 }
 .shadow-top{
     @include shadow-top();
 }
 .shadow-top-hover{
     @include shadow-top-hover();
 }
// ------------------------------ Alterações gerais ------------------------

body{
    background-color: rgba(242, 242, 242, 1);
    font-size: 0.9rem;
}
.card .card-content {
    padding: 24px 24px 14px 24px;
}
.btn-large i {
    font-size: 1.8rem;
}

.fixed-action-btn {
    right: 1.3em;
    bottom: 0.5em;
}

.btn:focus{
    @include shadow-bottom-hover();
}

.btn{
    top: -0.6em;
    box-shadow: none;
}
.btn:hover{
    @include shadow-bottom-hover();
}
.btn:disabled{
    background-color: transparent !important;
    opacity: 0.3 !important;
}
.btn + .btn{
    margin-left: 0.3em;
}

@media (max-width: 700px){
    .not-phone {
        display: none;
    }
}

.modal-content h4{
    font-size: 1.3rem;
    font-weight: 500;
}

.padding-modal .modal-footer{
    height: auto;
    padding: 8px 15px;
}
.padding-modal .btn + .btn{
    margin-left: 10px;
}

.modal-loading .modal-footer{
    display: none;
}
.modal-loading .modal{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
// --------------------- Table
.table-footer .select-wrapper{
    width: 2.6rem;
    height: 1.2em;
}
.table-footer .select-wrapper input.select-dropdown{
    height: 1.3em;
    margin: 0em;
}
.table-footer .input-field {
    margin-top: 0rem;
}

.select-wrapper ul li span {
    color: rgba(63, 81, 181, 1); 
}
// --------------Nav
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
}

.navbar-fixed{
    height: 56px;
}
// -------------- side slide
.side-slide-move{
    @include shadow-left-hover();
}
// -------------- Inputs
.character-counter{
    margin-top: -1em;
}